#img1 {
    width: 100px;
    position: absolute;
    right: px;
    top: 100px;
    z-index: 1;
    }

#img2 {
    width: 100px;
    position: absolute;
    left: 115px;
    top: 100px;
}
#img3 {
    width: 80px;
    position: absolute;
    left: 218px;
    top: 100px;
}
#img4 {
    width: 80px;
    height: 74px;
    position: absolute;
    left: 301px;
    top: 100px;
}